.label-header {
  margin: 20px 0 0 10px; }

.btn-fill {
  width: 100%; }

.axis text:hover {
  cursor: pointer; }
.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges; }

.chart rect {
  fill: #0088cc; }
